<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <form action="/doLogin" method="post">
        <div class="username">
            <input type="text" name="username" />
        </div>
        <div class="password">
            <input type="password" name="password" />
        </div>
        <div class="submit">
            <input type="submit" value="提交" />
        </div>
    </form>
    
</body>
</html>